.top {
    width: auto;
    height: 50px;
    background-color: aqua;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    justify-content: space-between;
    padding-right: 4%;
    padding-left: 4%;
    border-style: unset;
    color: brown;
  }
  
  .topLeft,
  .topRight {
    flex: 1;
    display: flex;
    align-items: flex-start;
    
  }
  
  .topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
  }
  .name {
    align-self: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
  }
  
  .topCenter {
    flex: 6;
  }
  
  .topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  
  .topListItem:hover{
      color: gray;
  }
  
  .topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .topSearchIcon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
  }